.logo{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none; 
    
    &__basic{
    
        color: var(--color-logo);  
    }
    &__footer{
        font-family: 'Raleway';
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
      color: var(--color-button); 
      text-decoration: none; 
    
    }
}
